{
  "extends": [
    "airbnb"
  ],

  "parser": "babel-eslint",

  "env": {
    "browser": true,
    "node": true
  },

  "plugins": [
  ],

  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "react/no-multi-comp": "off"
  }
}
