@import "../node_modules/material-components-web/dist/material-components-web.css";

:root {
  --mdc-theme-primary: rgb(33, 33, 33);
  --mdc-theme-accent: #ff5a5f;
}

body {
  font-size: 14px;
  background-color: #fafafa;
  /* background-color: #fdfdf9; */
}

body, h1, input, select, textarea, div, span, a, h2, h3, h4, h5, h6 {
  font-family: Helvetica Neue For Number,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,sans-serif !important;
}
button {
  font-family: Helvetica Neue For Number,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,sans-serif;
}

a {
  text-decoration: none;
  color: #737373;
}
a:hover {
  color: #505050;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
}

ul {
  list-style: none;
  padding: 0;
}

.icon-button {
  border: none;
  background-color: rgba(255,255,255,0);
  margin-right: 10px;
  color: #000;
}

.mdc-card {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

.icon-button:hover {
  cursor: pointer;
}

.mdc-tab {  
  min-width: 0;
  font-weight: bold;
}

.container {
  margin: auto;
  padding: 10px 8px 0 8px;
  max-width: 1280px;
  min-height: 78vh;
}
.material-icons {
  vertical-align: middle;
}

.button-full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}
.konvajs-content {
  margin: auto;
}

.subtitle {
  color: #999;
}
.form-field {
  margin-top: 10px;
  margin-bottom: 10px;
}
.error-msg {
  font-size: 12px;
  line-height: 12px;
  color: rgb(244, 67, 54);
}
button.button-full-width {
  font-size: 1.1em !important;
  height: 40px !important;
}

a, button {
  white-space: nowrap;
}

@media (max-width: 600px) {
  .mdc-layout-grid {
    padding: 0 0 0 0;
  }
  .mdc-tab {  
    min-width: 0;
  }
}

body {
  margin: 0;
}

.mdc-dialog--open {
  z-index: 99999999;
}
.mdc-simple-menu--open {
  z-index: 99999999;
}
*:focus {
  outline: none;
}

@media (max-width: 600px) {
  .mdc-toolbar__row {
    min-height: 0;
    padding: 10px;
  }
}

.mdc-tab-bar__indicator {
  height: 3px;
  background-color: #ff5a5f;
}
.mdc-toolbar__row {
  padding: 0;
}

.border-button {
  padding: 10px 54px 10px 54px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  border: 2px solid #000;
}

.badge {
  width: 17px;
  height: 17px;
  background-color: #ff5a5f;
  border-radius: 50%;
  color: white;
  font-size: 12px;
  font-weight: 500;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link-button {
  color: #4285f4;
  line-height: 36px;
  padding: 6px 0;
  border: none;
  background-color: inherit;
  cursor: pointer;
  font-size: 14px;
}

.mdc-elevation--z1 {
  background-color: #fff;
  padding: 20px;
}
